@import url('../libs/bootstrap/bootstrap.css');
@import url('../libs/leaflet/leaflet.css');
@import url('../libs/leaflet-draw/leaflet.draw.css');
@import url('../libs/leaflet-markercluster/MarkerCluster.css');
@import url('../libs/leaflet-markercluster/MarkerCluster.Default.css');

:root {
    --main-width: 100vw;
    --control-content-width: 25vw;
    --loader-size: 3rem;
    --thumbnail-size: 5rem;
    --popup-description-max-height: 100px;
}

body {
    margin: 0;
    padding: 0;
}

html, body, #app, #map {
    width: var(--main-width);
    height: 100%;
    overflow: hidden;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 1px solid #adb5bd;
}

.loader {
    position: absolute;
    z-index: 1056;
    top: calc(50% - var(--loader-size));
    left: calc(50% - (var(--loader-size) / 2));
    width: var(--loader-size);
    height: var(--loader-size);
}

.control:has(.show) {
    background-color: white;
}

.control-content {
    width: var(--control-content-width);
    height: auto;
}

.popup-description {
    max-height: var(--popup-description-max-height);
}

.thumbnail-container {
    width: var(--thumbnail-size);
}

@media (max-width: 768px) {
    .leaflet-bottom.leaflet-left {
        margin-bottom: 35px;
    }
    
    .control-content {
        width: 70vw;
    }
}