@import url('../../lib/bootstrap/bootstrap.css');
@import url('../../lib/leaflet/leaflet.css');
@import url('../../lib/leaflet-draw/leaflet.draw.css');
@import url('../../lib/leaflet-markercluster/MarkerCluster.css');
@import url('../../lib/leaflet-markercluster/MarkerCluster.Default.css');

body {
    padding: 0;
    margin: 0;
}

html, body, #app, #map {
    height: 100%;
    width: 100vw;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 1px solid #adb5bd;
}

.loader {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: calc(50% - (3rem / 2));
    top: calc(50% - 3rem);
    z-index: 1056;
}

.control:has(.show) {
    background-color: white;
}

a[title="Save changes"] {
    display: none;
}

.control-content {
    width: 25vw;
    height: auto;
}

.popup-description {
    max-height: 100px;
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    .leaflet-bottom.leaflet-left {
        margin-bottom: 35px;
    }
    
    .control-content {
        width: 70vw;
    }
}